* linguist-vendored
node_auth/lib/**/*.dart linguist-vendored=false linguist-language=Dart
server/**/*.js linguist-vendored=false linguist-language=JavaScript
server/*.js linguist-vendored=false linguist-language=JavaScript
